.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Justify all paragraph text */
body p {
    text-align: justify;
}

.sidebar {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
}